body
{
    background-color: #edbc5c;
}
#subasta
{
    text-align:center;
}
#encabezado
{
    width: calc(100%);
    height: fit-content;
    margin-bottom: 10px;
    height: fit-content;
}
#espacio\ obra1{
    float: left;
    background:blue;
}

#espacio\ obra3{
    float: right;
    background:red;
}
#espacio\ obra2 {
    background: green;
    max-width: 500px;
    display:inline-block;
}
p
{
    max-width: 400px;
}
img
{
    max-width: 500px;
}
